body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #000000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #0056b3;
}

header {
    background-color: #000000e8;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.Logosize{
    width: 190px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: auto; /* Shift the ul to the right */
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.5em 1em;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}
footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    top: 100px;
    width: 1500px;
  }
  .footer-content p {
    margin: 0em ;
  }
  .footer-content a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .footer-content a:hover {
    text-decoration: underline;
  }
  h5 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Inria Sans', sans-serif;
  }
